::-webkit-scrollbar {width: 10px; height: 3px; transition: all 0.5s;}
::-webkit-scrollbar-track-piece{background-color: transparent;}
::-webkit-scrollbar-thumb{background: rgba(44, 62, 80, 0.2); min-height: 150px; min-width: 150px;}
::-webkit-scrollbar-thumb:vertical:hover{background: rgba(44, 62, 80, 0.8);}
::-webkit-scrollbar-thumb:horizontal:hover{background: rgba(44, 62, 80, 0.8);}

body{

}
.app-wall{
  width: 320px;
  margin: 0 auto;
  padding-top: 180px;
  background: url("../images/ZIP_128x128.png") no-repeat center;
  p{
    font-size: 14px;
    text-align: center;
  }
}
.no-data{
  text-align: center;
}
.home{
  .content{
    width: 70%;
    margin: 0 auto;
    padding-top: 50px;
    .ivu-btn{
      border-width: 1.5px;
      margin-bottom: 12px;
    }
    h3{
      padding: 10px 0;
    }
    .prj-list-warp{
      height: 126px;
      overflow: hidden;
      .no-data{
        line-height: 126px;
      }
    }
    .prj-list{
      list-style: none;
      li{
        padding: 4px 12px 2px;
        border: 1px solid #ffffff;
        border-radius: 4px;
        cursor: pointer;
        position: relative;
        &:hover{
          box-shadow: 0 0 30px #e1e1e1 inset;
        }
        .del-icon{
          position: absolute;
          top: 8px;
          right: 12px;
          color: gray;
          &:hover{
            color: #ff4c3d;
          }
        }
      }
      .name{
        font-weight: bold;
        line-height: normal;
      }
      .dir{
        font-size: 12px;
      }
    }
  }
}
.projects{
  position: relative;
  .back-icon{
    position: absolute;
    z-index: 2;
    top: 4px;
    left: 16px;
    cursor: pointer;
  }
  .ivu-table-wrapper{
    border: none;
    cursor: default;
  }
  .ivu-table-body{
    overflow-x: hidden;
    overflow-y: auto;
  }
  .dir-link{
    &:hover{
      text-decoration: underline;
    }
  }
  .v-branch{
    font-weight: bold;
    color: #2889f0;
  }
  .v-created{
    color: green;
  }
  .v-modified,
  .v-deleted{
    color: red;
  }
  .v-renamed{
    color: rebeccapurple;
  }
  .log-title{
    margin-top: 4px;
    font-size: 12px;
  }
  .log-summary{
    padding-left: 6px;
    .ivu-icon{
      width: 16px;
      text-align: center;
    }
    .fv{
      font-size: 14px;
      vertical-align: middle;
    }
  }
}