<div class="table-expend">
    <Row class="expand-row">
        <p>Dir:<a class="dir-link" href="javascript:" @click="openDir(row.dir)">
            {{row.dir}} <Icon type="share" size="14"></Icon>
        </a></p>
    </Row>
    <div class="more-info">
        <Spin fix v-if="!statusReady && !latestLogReady">
            <Icon type="load-c" size=18 class="spin-icon-load"></Icon>
            <div>Loading</div>
        </Spin>
        <Row v-if="statusReady">
            <Col span="8">
                <span class="expand-key">Current branch: </span>
                <span class="expand-value v-branch">[{{status.current}}]</span>
            </Col>
            <Col span="4">
                <span class="expand-key">Created: </span>
                <span class="expand-value v-created">{{status.created && status.created.length}}</span>
            </Col>
            <Col span="4">
                <span class="expand-key">Deleted: </span>
                <span class="expand-value v-deleted">{{status.deleted && status.deleted.length}}</span>
            </Col>
            <Col span="4">
                <span class="expand-key">Modified: </span>
                <span class="expand-value v-modified">{{status.modified && status.modified.length}}</span>
            </Col>
            <Col span="4">
                <span class="expand-key">Renamed: </span>
                <span class="expand-value v-renamed">{{status.renamed && status.renamed.length}}</span>
            </Col>
        </Row>
        <Row v-if="latestLogReady">
            <h3 class="log-title">Last log summary:</h3>
            <div class="log-summary">
                <p><Icon type="ios-person" class="fv"></Icon> {{latestLog.author_name}}</p>
                <p><Icon type="email" class="fv"></Icon> {{latestLog.author_email}}</p>
                <p><Icon type="ios-time"></Icon> {{latestLog.date}}</p>
                <p><Icon type="compose"></Icon> {{latestLog.message}}</p>
                <p><Icon type="pricetag"></Icon> {{latestLog.hash}}</p>
            </div>
        </Row>
    </div>
</div>