<div class="view">
    <Layout>
        <Sider :collapsed-width="40"
               v-model="isCollapsed"
               width="80"
               :style="{position: 'fixed', height: '100vh', left: 0, overflow: 'auto'}">
            <Menu :active-name="tab" theme="dark" width="auto" :class="menuItemClasses" @on-select="selectMenu">
                <MenuItem name="back">
                    <Icon type="reply"></Icon>
                </MenuItem>
                <MenuItem name="info">
                    <Icon type="fork-repo"></Icon>
                </MenuItem>
                <MenuItem name="build">
                    <Icon type="settings"></Icon>
                </MenuItem>
            </Menu>
        </Sider>
        <Layout :style="{marginLeft: isCollapsed ? '40px' : '80px'}">
            <Content class="view-content">
                <Card dis-hover>
                    <p slot="title">
                        <Icon type="folder"></Icon> {{repoName}} <!--({{repoDir}})-->
                    </p>
                    <a href="#" slot="extra" @click="refreshLogs" v-if="tab === 'info'">
                        <Icon type="ios-loop-strong"></Icon> Refresh
                    </a>
                </Card>
                <div class="info">
                    <div class="row-title" v-if="tab === 'build'">
                        <span><Icon type="help" size="18" title="将输出选择的两个版本号之间的增量包"></Icon> 增量发包：</span>
                    </div>
                    <div class="tool-bar" :class="{mt12: tab === 'info'}">
                        <Input v-model="filterKey"
                               icon="compose"
                               placeholder="filter commits message..."
                               v-if="tab === 'info'"
                               style="width: 240px; float: right">
                        </Input>
                        <span class="build-select">
                            <span class="item-label">指定版本选择：</span>&nbsp;
                            <!--<a href="javascript:" :title="betweenVersion.fromMsg" :class="{'unset': !betweenVersion.fromHash}">{{betweenVersion.fromHash || 'unset'}}</a>-->
                            <!--&nbsp;-&nbsp;-->
                            <!--<a href="javascript:" :title="betweenVersion.toMsg" :class="{'unset': !betweenVersion.toHash}">{{betweenVersion.toHash || 'unset'}}</a>-->
                            <!--&nbsp;-->
                            <Tag type="dot" :color="betweenVersion.fromHash ? 'green' : 'red'" :title="betweenVersion.fromMsg">
                                {{betweenVersion.fromHash || 'unset'}}
                                <!--<span title="delete this" @click="deleteFromHash">x</span>-->
                            </Tag>
                            ~
                            <Tag type="dot" :color="betweenVersion.toHash ? 'green' : 'red'" :title="betweenVersion.toMsg">
                                {{betweenVersion.toHash || 'unset'}}
                                <!--<span title="delete this" @click="deleteToHash">x</span>-->
                            </Tag>
                            <i-button icon="refresh" type="error" v-if="tab === 'info'" :disabled="!canClear()" @click="resetVersions">Clear</i-button>
                            <Row :gutter="16" v-if="tab === 'build'">
                                <Col span="18">
                                    <i-input v-model="spikeZipDir" readonly :class="{'selected-dir': !!spikeZipDir}" placeholder="请选择输出目录">
                                        <span slot="prepend">输出目录：</span>
                                        <i-button title="选择输出目录" slot="append" icon="folder" @click="selectSpikeZipDir"></i-button>
                                        <i-button title="打开目录" slot="append" icon="share" @click="openSpikeDir"></i-button>
                                    </i-input>
                                </Col>
                                <Col span="6">
                                    <i-button class="build-btn" icon="hammer" :loading="runStatus.action === 'build' && runStatus.isRunning"
                                          type="success" :disabled="!canBuild()" @click="build">压缩打包</i-button>
                                </Col>
                            </Row>
                        </span>
                    </div>
                    <div class="history-wrap" v-if="tab === 'info'">
                        <Spin fix v-if="!logsReady">
                            <Icon type="load-c" size=18 class="spin-icon-load"></Icon>
                            <div>Loading</div>
                        </Spin>
                        <ul class="logs-list" v-if="logsReady">
                            <li v-for="log in displayLogs" v-show="log.message.indexOf(filterKey) > -1">
                                <Icon type="pull-request" class="commit-icon"></Icon>
                                <div>
                                    <strong>{{log.message}}</strong>&nbsp;
                                    <a href="javascript:" class="hash" :title="log.hash">{{log.hash.substr(0, 7)}}</a>
                                    <a href="javascript:" class="add-ash" @click="addLog(log)" title="add this hash to build param"><Icon type="wand"></Icon></a>
                                </div>
                                <div>{{log.date}} by {{log.author_name}}</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="build" v-if="tab === 'build'">
                    <div class="row-title">
                        <span><Icon type="help" size="18" title="快速构建应用的源码输出，并将构建好的源码打包成安装程序"></Icon> 全量发包：</span>
                    </div>
                    <div class="task-row">
                        <span class="item-label">第一步，快速构建：</span>&nbsp;
                        <Row :gutter="16">
                            <Col span="18">
                                <i-input v-model="packagerDir" readonly :class="{'selected-dir': !!packagerDir}" placeholder="请选择输出目录">
                                    <span slot="prepend">输出目录：</span>
                                    <i-button title="选择输出目录" slot="append" icon="folder" @click="selectPackagerDir"></i-button>
                                    <i-button title="打开目录" slot="append" icon="share" @click="openPackagerDir"></i-button>
                                </i-input>
                            </Col>
                            <Col span="6">
                                <i-button icon="settings" :loading="runStatus.action === 'construct' && runStatus.isRunning"
                                          type="success" @click="construct" :disabled="!packagerDir">构建源码</i-button>
                            </Col>
                        </Row>
                    </div>
                    <div class="task-row">
                        <span class="item-label">第二步，发布应用：</span>&nbsp;
                        <Row>
                            <Col span="18">
                                <i-button icon="share" :loading="runStatus.action === 'publish' && runStatus.isRunning"  type="success" @click="publish">前往发布安装程序</i-button>
                            </Col>
                        </Row>
                    </div>
                    <div class="task-row">
                        <span class="item-label" style="color: #ff6600">发布安装程序帮助：</span>&nbsp;
                        <ol class="help-ol">
                            <li>首次发布安装，如未安装nsis脚本编译器，请先安装！（../发布目录/nsis_2.46.1414981289.exe）</li>
                            <li>打开发布目录后，双击运行setup.nsi脚本，即开始打包安装程序。</li>
                            <li>setup.nsi编译结束后，会在当前目录生成安装程序 Setup.exe 。</li>
                            <li>如发布时需提供md5信息，可在 Tools -> md5校验 里获取！</li>
                        </ol>
                    </div>
                </div>
            </Content>
        </Layout>
    </Layout>
</div>